<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NYU Mobility.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A141FC9324814B7C00A3433D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A141FCAC24814B7E00A3433D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A141FCB724814B7E00A3433D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
